<nb-card>
  <nb-card-header>
    <div style="color: #ff7701;">&#9125; Notification </div>
  </nb-card-header>
  <nb-card-body>



    <table mdbTable style="width: 100%;">
      <thead>
        <tr>
          <th style="font-size: 15px; height: 40px; background-color: #EBEBEB; color: #717171;  text-align: center;"
            *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let email of emails; let i=index">
          <td style="text-align: center;">{{i+1}}</td>
          <th style="text-align: left; padding-left: 30%; ">{{ email.email }}</th>
          <td style="text-align: center;">
            <button nbButton status="warning" style=" font-size: 12px; background-color: #C7C7C7; border-color: #C7C7C7; color: white;"
              id="edit" (click)="deleteDialog(email._id, email.email)"><img src="../assets/images/delete.png"  style="width: 14px; height: 13px;"/>&nbsp;Delete</button> </td>
        </tr>
      </tbody>

    </table>
    <br>
    <!-- <a>Add New Email: </a> -->
    <div>
      <form [formGroup]="checkoutForm" (ngSubmit)="addTodo(checkoutForm.value)">
        <label  for="addemail" style="padding-top: 10px; color: #FF7701; font-weight: bold;">
          Add New Email: &nbsp;
        </label>
        <input id="email" class="textfield" formControlName="email">
        <button nbButton status="primary" type="submit" style=" font-size: 12px; background-color: #FF7701; color: white; border-color: #FF7701;"><img src="../assets/images/addacc.png"  style="width: 16px; height: 16px;"/>&nbsp;Add Email</button>
      </form>
    </div>
  </nb-card-body>
</nb-card>