<div class="frame">

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" 
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
               (dateSelect)="onDateSelection($event)"
               >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt fa-fw"></i></button>
        </div>
      </div>
    </div>
  </form>
  <div>
    <table mdbTable style="width: 100%;">
      <thead>

        <tr class="tablebg">
          <th>เวลา</th>
          <th>รูปภาพ</th>
          <th>พนักงานที่ระบบคาดเดา</th>
          <th>#</th>
          <!-- <th>#</th> -->
          <th>พนักงานที่ระบบเรียนรู้</th>
        </tr>


      </thead>
      <tbody>
        <tr mdbTableCol
          *ngFor="let el of dataSource |  paginate: {id: 'info', currentPage: p2, itemsPerPage: itemsPerPage2 };">
          <!-- <td>{{el.Date}}</td>
          <td>{{el.checkin.emotion.gender}}</td>
          <td>{{el.checkin.emotion.age}}</td>
          <td>{{el.checkin.time}}</td>
          <td>{{el.emotion1}}</td>
          <td>{{el.checkout.emotion.gender}}</td>
          <td>{{el.checkout.emotion.age}}</td>
          <td>{{el.checkout.time}}</td>
          <td>{{el.emotion2}}</td> -->
          <td>{{el.time}}</td>
          <td> <img class="tb" [src]="el.image1" /></td>
          <td>{{el.detected}} - {{el.title}} {{el.nameem}} {{el.surname}} {{el.per}}</td> 
          <!--  - {{el.title}} {{el.name}} {{el.surname}} {{el.per}} -->
          <!-- <form> -->
          
          
          <select  (change)="trainDialog($event.target.value,el.name,el.title,el.nameem,el.surname,el._id) " [disabled]="el.canselect" >
            <option *ngFor="let item of listmea" [ngValue]="item" >{{item.id}} - {{item.title}} {{item.name}} {{item.surname}}</option>
          </select>
            <!-- </form> -->
          <!-- <button nbButton status="warning" style=" font-size: 12px; background-color: #FF7701; color: white;"
              id="edit" (click)="trainDialog(el.name, item)">&nbsp;train</button> -->
          <td>{{el.train}} - {{el.ttitle}} {{el.tnameem}} {{el.tsurname}} </td>
          


        </tr>
      </tbody>

    </table>
  </div>
  <pagination-controls id="info" (pageChange)="p2 = $event"></pagination-controls>

  <!-- <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Close</button>
  </div> -->
</div>