@import '../../../@theme/styles/themes';
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@include nb-install-component() {
  nb-card {
    width: 100%;
  }
  img {
    width: 200px;
    height: 270px;
  }
  
}
