@import '~@angular/material/prebuilt-themes/indigo-pink.css';
img {
  width: 50px;
  height: 58px;
  border-radius: 5px;
  pointer-events: none;

}
.frame {
background-color: rgb(224, 224, 224); 
border: #696969b6; 
border-width: 2px; 
border-radius: 10px; 
border-style: solid; 
display: block; 
text-align: center;
}
.hd{
color: #474747; 
padding-top: 20px;
}
.tablebg{
background-color:#bbbbbb;
}