<div class="frame">
  <nb-card>
    <nb-card-header>
    เทรนรูปภาพพนักงาน
    </nb-card-header>  
    <nb-card-body style="background-color: white;">
      <img class="tb" [src]="pic" />
    <div mat-dialog-content >

      <p style="color: #FF7701; font-weight: bold; padding-top: 10px;">ท่านต้องการเทรนรูปนี้ให้กับพนักงาน รหัส {{data.item}} ใช่หรือไม่?</p>
      <div md-dialog-actions >
        
        <button   nbButton style="background-color: #FF7701; color: white; border-color: #ffffff;" (click)="onSubmit()">ยืนยัน</button>
        &nbsp;&nbsp;
        <button  nbButton style="background-color: #C7C7C7; color: white; border-color: #C7C7C7;"  (click)="dialogRef.close(false)">ยกเลิก</button>
      </div>
    </div>
    </nb-card-body>
  </nb-card>
</div>