@import '~@angular/material/prebuilt-themes/indigo-pink.css';
img {
  width: 50px;
  height: 58px;
  border-radius: 5px;
  pointer-events: none;

}
.frame {
background-color: #ecfcf1; 
border: #35b865c4; 
border-width: 2px; 
border-radius: 10px; 
border-style: solid; 
display: block; 
text-align: center;
}
.hd{
color: #3c9e5a; 
padding-top: 20px;
}
.tablebg{
background-color:#98cfac;
}