<div class="frame">
  <nb-card>
    <nb-card-header>
      Add Account
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="checkoutForm" (ngSubmit)="addTodo(checkoutForm.value)">
        <div>
          <label for="username" style="padding-top: 10px;">
            Username: &nbsp;
          </label>
          <input nbInput fullWidth id="username" class="textfield" formControlName="username">
        </div>
        <div>
          <label for="password" style="padding-top: 10px;">
            Password: &nbsp;
          </label>
          <input nbInput fullWidth id="password" type="password" class="textfield" formControlName="password">
        </div>
        <div>
          <label for="cpassword" style="padding-top: 10px;">
            Confirm Password: &nbsp;
          </label>
          <input nbInput fullWidth id="cpassword" type="password" class="textfield" formControlName="cpassword">
        </div>
        <br>
        <a style="color: red;"  *ngIf="showerr">Password do not match <br></a>
        <a style="color: red;"  *ngIf="showerr1">Password should contain at least one lower case <br></a>
        <a style="color: red;"  *ngIf="showerr2">Password should contain at least one upper case <br></a>
        <a style="color: red;"  *ngIf="showerr3">Password should contain at least 8 characters <br></a>
        <button nbButton status="primary" type="submit" style=" font-size: 12px; background-color: #FF7701; color: white; border-color: #FF7701;"><img src="../assets/images/confirm.png"  style="width: 16px; height: 16px;"/>&nbsp;Comfirm</button>
      </form>

    </nb-card-body>

  </nb-card>
</div>